<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.corgiking.demo.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.corgiking.demo.activity.widget.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.corgiking.demo.activity.widget.BarWidgetActivity"
            android:label="@string/title_activity_bar" >
        </activity>
        <activity
            android:name="org.corgiking.demo.activity.widget.ImageSwitcherActivity"
            android:label="@string/title_activity_image_switcher" >
        </activity>
        <activity
            android:name="org.corgiking.demo.activity.widget.GridViewActivity"
            android:label="@string/title_activity_grid_view" >
        </activity>
        <activity
            android:name="org.corgiking.demo.activity.widget.ListWidgetActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="org.corgiking.demo.activity.widget.TabWidgetActivity"
            android:label="@string/title_activity_tab_widget" >
        </activity>
    </application>

</manifest>
